[gerrit]
        basePath = git
        canonicalWebUrl = http://127.0.0.1:8080/
        serverId = 3f48a8fd-b50e-49ba-b192-19feb89380f6
[container]
        javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
        javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
        javaOptions = --add-opens=java.base/java.util=ALL-UNNAMED
        javaOptions = --add-opens=java.base/java.lang=ALL-UNNAMED
        javaOptions = --add-opens=java.base/java.nio=ALL-UNNAMED
        javaOptions = --add-opens=java.base/java.lang.reflect=ALL-UNNAMED
        javaOptions = --add-opens=java.base/java.text=ALL-UNNAMED
        javaOptions = --add-opens=java.desktop/java.awt.font=ALL-UNNAMED
        user = lemonjia
        javaHome = /opt/jdk-21.0.5
[index]
        type = lucene
[auth]
        type = DEVELOPMENT_BECOME_ANY_ACCOUNT
[receive]
        enableSignedPush = false
[sendemail]
        smtpServer = localhost
[sshd]
        listenAddress = *:29418
[httpd]
        listenUrl = http://*:8080/
[cache]
        directory = cache
[plugins]
        allowRemoteAdmin = true
[plugin "coder-workspace"]
        enabled = true
        serverUrl = http://127.0.0.1:3000
        apiKey = CfLeqUPUIV-rcKHSD6gEpV28aieTTlFWw
        templateId = e28bcb83-3381-4ae6-9c1c-9c4fed7977a8
        organization = 76ba8646-cd56-41a7-9905-546f7c7f9800
        user = lemonjia
        openAfterCreate = true
        enableDryRunPreview = false
        ttlMs = 0
        workspaceNameTemplate = "{repo}-{change}"
        strictName = true
        alternateNameTemplates = {repo}-{change}
        appSlug = code-server
        waitForAppReadyMs = 50000
        waitPollIntervalMs = 1000
        appendTokenToAppUrl = true
        navigateInSameTabOnBlock = true
